:root {
    --main: #239d60; /* Define a variable with name --main-color and value #3498db */
    --hover: #3fc984;
  }


*{  transition: all 0.3s;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;   
}
.hidden{
    display: none;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: 0;
}
#bgimg{
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    z-index: -1000;
}

.nav-burger{
    display: none;
}

.navbar{
    width: 98vw;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffffff;
    font-weight: 500;
    position: fixed;
    z-index: 1000;
    padding-right: 50px;
    font-size: 16px;
    background-color: transparent;
    height: 50px;
}

.navbar .headers a{
    text-decoration: none;
    margin: 0 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;
}
.navbar .headers a:hover{
    color: rgb(160, 240, 167);
    
}
#predictor{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 0;
}


.predictor2{
    display: none;
}

#predictor h1{
    margin: 50px 0;
    color: #ffffff;
    text-shadow: 1.7px 1.7px green;
}
.labelbox{
    gap:10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    width: 100%;
    color: rgb(0, 0, 0);
    height: 10vh;
}
.inputform{
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding-left: 3px;
    font-weight: 500;
}

.btncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 37%; 
    /* padding-right: 300px; */
    margin: 20px 0;
    text-decoration: none;
    gap: 20px;
    height: 50px;
    width: 160px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.btn{
    width: 100%;
    background-color: #239d60df;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
.btn:hover{
    background-color: #205239df;
}
.result{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px black;
    border-radius: 5px;
    margin-top: 0;
    width: 80%;
    margin-left: 8%;
    color: white;
    font-size: 20px;
    text-align: center;
}
.bgbox{
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.721);
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px ;
    width: 35%;
}
#shop{
    width: 100%;
    background-color: #239d60df;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding: 10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    text-decoration: none;

}
#shop:hover{
    background-color: #205239df;
}
.btncontainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    margin: 20px 0;
    text-decoration: none;
    gap: 20px;
    height: 50px;
    width: 40%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.goog-te-combo, .VIpgJd-ZVi9od-ORHb *, .VIpgJd-ZVi9od-SmfZ *, .VIpgJd-ZVi9od-xl07Ob *, .VIpgJd-ZVi9od-vH1Gmf *, .VIpgJd-ZVi9od-l9xktf * {
    display: none;
}

@media (max-width: 480px) {

    .show{
        display: none !important;
    }
    .hidden{
        display: flex;
    }
    .btncontainer{
        padding-left: 0;
    }
    #predictor{
        width: 100vw;
    }
    #bgimg{
        height:100%;
        width: 100%;
    }
    .navbar{
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        margin: 0; 
        padding: 0;
        
        >h1{
            display: none;
        }
      }
      .headers{
        position: fixed;
        display: none;
        align-items: center;
        flex-direction: column;
        padding-top: 10%;
        gap:8%;
        height: 100vh;
        background-image: url("./header-bgimg.png");
        background-size: cover;          
        background-position: center;     
        background-repeat: no-repeat;
        width: 100%;
      }

      .predictor2{
        display: flex;
        padding-top: 20%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-bottom: 0;
        
      }
      .inputform{
        width: 85% !important;
        }
        .title{
            color: white;
            font-size: 30px;
            margin-bottom: 20px;
        }
        .bgbox{
            width: 70vw;
            margin-bottom: 30%;
            margin-top: 30%;
            margin-top: 0;
        }
        .form{
            width: 70vw;
            display: flex;
            flex-direction: column;
            gap: 5px;
            justify-content: center;
            align-items: center;
        }
        .headers{
            position: fixed;
            display: none;
            align-items: center;
            flex-direction: column;
            padding-top: 10%;
            gap:8%;
            height: 100vh;
            background-image: url("./header-bgimg.png");
            background-size: cover;          
            background-position: center;     
            background-repeat: no-repeat;
            width: 100%;
          }
          .navbar .headers a{
            font-size: 20px;
            text-shadow: 2px 2px green;
            
          }

        .nav-burger{
            display: flex;
            background-color: "red";
            height: 80%;
            padding-left: 10px;
            padding-top: 8%;
            padding-right: 27.5%
          }

}