*{  transition: all 0.3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0; 
}
#bgimg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    z-index: -1000;
}
.navbar{
    width: 100vw;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
    color:#ffffff;
    font-weight: 500;
    position: fixed;
    z-index: 1000;
    padding-right: 50px;
    font-size: 16px;
    height: 80px;
}
.navbar h1{
    font-weight: 700;
    margin: 0;
    text-shadow: 2px 2px green;
}
.navbar .headers a{
    text-decoration: none;
    margin: 0 10px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s;
    text-shadow: 1px 1px green;
    padding-right: 10px;
}
.navbar .headers a:hover {
    color: rgb(160, 240, 167);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.234); 
}
.title-head{
    transition: all 0.5s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 4px 4px green;
}
.title-head:hover{
    transform: translateY(-10px);
    text-shadow:2px 2px black ;
}
#card{
    padding-top: 6%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.234); 
    flex-direction: column;
}
#card-content{
    color: white;
    height:75%;
    width: 80%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
}
#card-content .text{
    padding: 30px;
    >p{
        margin-top: 10px;
        font-size: 15px;
    }
}
.nav-burger{
    display: none;
}





@media (max-width: 480px) {

    .navbar{
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        >h1{
            display: none;
        }
      }
      .nav-burger{
        display: flex;
        background-color: "red";
        height: 80%;
        padding-left: 10px;
        padding-top: 8%;
        padding-right: 27.5%
      }
      .headers{
        position: fixed;
        display: none;
        align-items: center;
        flex-direction: column;
        padding-top: 10%;
        gap:8%;
        height: 100vh;
        background-image: url("./header-bgimg.png");
        background-size: cover;          
        background-position: center;     
        background-repeat: no-repeat;
        width: 100%;
      }
      .navbar .headers a{
        font-size: 20px;
        text-shadow: 2px 2px green;
        
      }
      .title-head{
        font-size: 30px;
        margin: 0 5%;
      }
      #card-content{
        >img{
            display: none;
        }
        >.text{
            font-size: 12px;
            >p{
                font-size: 11px;
            }
        }
        
      }

}

