@import "compass/css3";

*{  transition: all 0.3s;
    margin: 0;
    padding: 0;   
 z-index: -1000;}

#instruction{
    margin-top: 10px;
    display: none;
}
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0; 
    
}

#x2{
    display: none;
}
#mobile-warning {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Make sure it covers everything */
}
#main-content {
    display: block;
}


#bgimg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    z-index: -1000;
}


.nav-burger{
    display: none;
}
 
.navbar{
    width: 100vw;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    align-items: center;
    color:#ffffff;
    font-weight: 500;
    position: fixed;
    z-index: 1000;
    padding-right: 50px;
    font-size: 16px;
    height: 50px;
}
.navbar h1{
    font-weight: 700;
    margin: 0;
    text-shadow: 2px 2px green;
}
.navbar .headers a{
    padding-right: 10px;
    text-decoration: none;
    margin: 0 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;
    text-shadow: 1px 1px green;
}
.navbar .headers a:hover {
    color: rgb(160, 240, 167);
}


.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.234); 
}
.container a{
    text-decoration: none;
    background-color: #0c6d3d80;
    height: 50px;
    width: 160px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.container a:hover{
    background-color: #6ef57780;
}

#home{
    margin-top: 8%;
    padding-top: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    max-width: 1000px;
    z-index: 60;
}
#home h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 4px 4px green;
}
#home h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(57, 55, 55);
}
#home p{
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
} 



.popup.show {
    animation: fadeIn 0.3s ease-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.organic-container{
    background-color: red;
    z-index: 2;
}

@media (max-width: 480px) {

    #instruction{
        display: flex;
    }
    body {
      font-size: 14px;
  }
  .navbar{
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    >h1{
        display: none;
    }
  }
  .nav-burger{
    display: flex;
    background-color: "red";
    height: 80%;
    padding-left: 10px;
    padding-top: 8%;
    padding-right: 27.5%
  }
  .headers{
    position: fixed;
    display: none;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    gap:8%;
    height: 100vh;
    background-image: url("./header-bgimg.png");
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;
    width: 100%;
  }
  .navbar .headers a{
    font-size: 20px;
    text-shadow: 2px 2px green;
    
  }
  #x2{
    display: flex;
  }

  #home h2{
    font-size: 20px;
  }
  #home p{
    font-size: 15px;
  }
  .container a{
    font-size: 15px;
    height: 35px;
    width: 120px;
  }
  .gt_float_switcher .gt-selected .gt-current-lang{
    padding: 4px 8px;
  }
}
