<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel = "stylesheet" href = "static/stylescopy.css">
</head>
<body>
    <img src = "/static/bgimg.jpg" id="bgimg">
    <div class="navbar">
        <h1>CropPred</h1>
        <div class="headers">
            <a href="/">Home</a>
            <a onclick="showPopup()" >Average Weather</a> 
            <a href="/predict">Crop Predict</a>
            <a href="/predict_another">Fertilizer Predict</a>
            <a href="https://github.com/kunalpaliwal13/Croppred/tree/main">Get the Code</a>
            <a href="/contact_us">Contact us</a>
        </div>
    </div>
    <div class="container">
    <div id="contact-us">
        <h1>Contact Us</h1>
        <form action="https://formsubmit.co/kunalpaliwal2003@gmail.com" method="POST">      
            <input name="name" type="text" class="feedback-input" placeholder="Name" />   
            <input name="email" type="text" class="feedback-input" placeholder="Email" />
            <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
            <input class = "btn" type="submit" value="SUBMIT"/>
            
          </form>
    </div>
    </div>
</body>
</html>
