<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know more</title>
    <link rel = "stylesheet" href = "static/styles2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
</head>
<body>
    <img src="/static/bgimg.jpg" id="bgimg" />

    <div class="navbar">
        <h1>CropPred</h1>
        <div class="headers">
          <a href="/">Home</a>
          <a href="/predict">Crop Predict</a>
          <a href="/predict_another">Fertilizer Predict</a>
          <a href="https://github.com/kunalpaliwal13/Croppred/tree/main"
            >Get the Code</a>
        </div>
      </div>
        


      <div class="container">
        <h1 class="title-head" onmouseenter="scrollToElement('#card')">
            Ler's get a brief on how our website works
        </h1>
      </div>

      <div id="card">
        <div id="card-content">
          <div class="text">
            <h1>What is our website all about?</h1>
            <p>
                Welcome to our sustainable agriculture platform, where we harness the power of machine learning to revolutionize farming practices. 
                Our cutting-edge models analyze environmental factors such as temperature, humidity, soil pH, and rainfall to provide personalized crop recommendations tailored to your specific region.
                By leveraging predictive analytics, we empower farmers to make informed decisions about what crops to grow, optimizing yields while minimizing environmental 
                impact. <br>Additionally, our fertilizer recommendation system utilizes machine learning algorithms to suggest the most suitable fertilizers based on soil nutrient levels, 
                promoting efficient resource utilization and sustainable farming practices. Join us in cultivating a greener, more sustainable future for agriculture.
            </p>
            
          </div>
          <img src="/static/imgs/img-knowmore.jpg" height="100%" width="45%" />
        </div>
      </div><div class="gtranslate_wrapper"></div>
</body>
<script>
    function scrollToElement(id) {
      var element = document.querySelector(id);
      if (element) {
        element.scrollIntoView({ behavior: "smooth" });
      }
    }
</script>
<script src="/static/script.js"></script>
<script>window.gtranslateSettings = {"default_language":"en","languages":["en","hi"],"wrapper_selector":".gtranslate_wrapper"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
</html>
