<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know more</title>
    <style> body{display: flex; justify-content: center; align-items: center; flex-direction: column;}#plot-container{display: flex; flex-direction: column; justify-content: center; width: 80vh;}</style>
    <link rel = "stylesheet" href = "static/styles2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
</head>
<body>
    <h1>How Our Model Works</h1>
    <div class="container">
    
        <img src='https://i.postimg.cc/0jPB0rZ5/system-design.png' height='250px' width=" 700px" alt='system-design'/>
    

        
            <p>Our crop recommendation system harnesses the capabilities of XGBoost, a robust and sophisticated machine learning algorithm. By leveraging this powerful tool, we can delve into the intricate relationships between crucial environmental factors and crop outcomes. The algorithm meticulously analyzes variables such as Nitrogen, Phosphorus, Potassium, temperature, humidity, pH, and rainfall, extracting patterns and insights from vast datasets. This data-driven model serves as the backbone of our crop prediction system, drawing from a comprehensive database to deliver precise recommendations tailored to specific farming conditions.<br>
    To facilitate a deeper understanding of the decision-making process within our system, we employ visual aids such as heatmaps. These graphical representations illuminate the intricate interplay of variables, highlighting the significant features that wield the most influence over our crop recommendations. This straightforward yet effective approach aims to empower farmers with actionable insights, enabling them to make informed decisions for optimized agricultural outcomes. By visually unveiling the influential factors, our system becomes a valuable resource, assisting farmers in navigating the complexities of crop selection and fostering a more sustainable and productive agricultural landscape.</p>
    
    </div>
    <a id = "btn" href="/">Go back</a>
</body>
</html>